<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Dettagli Film</h1>
	<div th:if="${ingredient}">
		<span th:text="${ingredient.name}">Up!</span>
		<span><img width="5%" th:src=${ingredient.pathImage} /></span>
	</div>
	<div>
			<a th:href="@{'/admin/removeIngredient' + '/' + ${ingredient.id}}">Elimina ricetta</a>
	</div>
		<div>
			<a th:href="@{'/admin/changeIngredient' + '/' + ${ingredient.id}}">Chaneg ricetta</a>
	</div>
<br>
<br>


	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono attori registrati</div>

	
	<div th:unless="${recipes==null || recipes.isEmpty()}">
			<span>Attori: </span>
				<ul>
		<li th:each="recipe : ${recipes}">
			<span th:text="${recipe.nome}">Pietro</span>
			<span th:if="${recipe.chef != null}" th:text="${recipe.chef.name}">Barone</span>
			<span th:unless="${recipe.chef!=null}">Nessun chef presente</span>
		</li>
	</ul>
			
		</div>
		<a th:href="@{'/admin/updateIngredient/' + ${ingredient.id}}">
				<button type="button">Modifica</button>
			</a>
		<div th:unless="${ingredient}">Film non esistente</div>
				
</body>

</html>