<!DOCTYPE html>
<html> <head>
    <title>Aggiungi ingrediente</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <script src="/js/3.7.1_jquery.min.js"></script>
    <script src="/js/thumbnail.js"></script>
  </head>
  <body>
	  <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <h1>Aggiungi un ingrediente</h1>
    <form th:action="@{/admin/ingredient}" method="POST" th:object="${ingredient}" enctype="multipart/form-data">
		 <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
      </div>
	<div>
        Nome: <span><input required type="text" th:field="${ingredient.name}"/></span>
                         <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

      </div>
      
        <div>
        Percorso immagine: <span><input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg"/></span>
                         <span th:if="${#fields.hasErrors('pathImage')}" th:errors="*{pathImage}"></span>

      </div>
      
      <div>
		  <img id="thumbnail" alt="logoPreview"/>
	  </div>
      <br>
      <div>
        <span><button type="submit">Inserisci</button></span>
      </div>
    </form>
  </body>
</html>
