<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Modifica chef</title>
	<link rel="stylesheet" href="/css/formStyle.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<script src="/js/3.7.1_jquery.min.js"></script>
	<script src="/js/thumbnail.js"></script>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>


<body>
	<div class="wrapper">

		<form th:action="@{'/admin/chef/'+ ${chefId}}" method="POST" th:object="${chef}" enctype="multipart/form-data">
			<h1>Modifica chef</h1>

			<!-- Errori globali -->
			<div class="error-message" th:if="${param.error != null}">
				<span class="error-message">Dati inseriti non accettabili</span> 
			</div>

			<!-- Field nome -->
			<div class="input-box">
				<input type="text" placeholder="Nome" th:field="${chef.name}" required/> <!-- required -->
				<i class='bx bx-text'></i>
			</div>

			<!-- Field cognome -->
			<div class="input-box">
				<input type="text" placeholder="Cognome" th:field="${chef.surname}" required /> <!-- required -->
				<i class='bx bx-text'></i>
			</div>

			<!-- Field dataNascita -->
			<div class="input-box">
				<input type="date" th:field="${chef.dateBirth}" min="1862-01-01" max="2025-12-31" />
			</div>

			<!-- Field email -->
			<div class="input-box">
				<input type="email" placeholder="Email" th:field="${chef.email}" /> <!-- email -->
				<i class='bx bx-at'></i>
			</div>

			<!-- input file immagine -->
			<div> <input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg" /> </div>
			<div> <img id="thumbnail" alt="preview immagine" width="90%" /> </div>

			<br>
			<button type="submit" class="btn">Modifica</button>
		</form>
	</div>
</body>

</html>