<!DOCTYPE html>
<html> <head>
    <title>Modifica chef</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
  </head>
  <body>
	  <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <h1>Modifica chef</h1>
    <form th:action="@{'/admin/chef/'+ ${chefId}}" method="POST" th:object="${chef}">
		 <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
      </div>
		<div>
        Nome: <span><input required type="text" th:field="${chef.name}"/></span>
                         <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

      </div>
      <div>
        Cognome: <span><input required type="text" th:field="${chef.surname}"/></span>
                         <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>

      </div>
      <div>
        Data di nascita: <span><input type="date" th:field="${chef.dateBirth}" min="1862-01-01" max="2025-12-31" /></span>
                               <span th:if="${#fields.hasErrors('dateBirth')}" th:errors="*{dateBirth}"></span>

      </div>
       <div>
        Percorso immagine: <span><input type="text" th:field="${chef.pathImage}"/></span>
                         <span th:if="${#fields.hasErrors('pathImage')}" th:errors="*{pathImage}"></span>

      </div>
      <br>
      <div>
        <span><button type="submit">Modifica</button></span>
      </div>
    </form>
  </body>
</html>
