<!DOCTYPE html>
<html> <head>
    <title>Aggiungi ingrediente</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
  </head>
  <body>
	  <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <h1>Aggiungi un ingrediente</h1>
    <form th:action="@{'/admin/usedIngredient/'+ ${ingredientId} +'/'+ ${recipeId}}" method="POST" th:object="${newUsedIngredient}">
		 <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
      </div>
	<div>
        Quantità': <span><input required type="text" th:field="${newUsedIngredient.quantity}"/></span>
                         <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>

      </div>
 
       <div>
        Unità di misura: <span><input required type="text" th:field="${newUsedIngredient.measurement}"/></span>
                         <span th:if="${#fields.hasErrors('measurement')}" th:errors="*{measurement}"></span>

      </div>
     	<br>
      <div>
        <span><button type="submit">Aggiungi</button></span>
      </div>
    </form>
  </body>
</html>
