<!DOCTYPE html>
<html>

<head>
	<title>Scelta attori</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi attori</h1>
	<div th:unless="${recipe.usedIngredients.isEmpty()}">
	<span th:text="'Attori del film' + ${recipe.nome} + ':'">Attori del film Avengers: Endgame</span>
	</div>
	<div th:if="${recipe.usedIngredients.isEmpty()}">Non ci sono attori per questo film</div>
	<ul>
		<li th:each="used_ingredient : ${recipe.usedIngredients}">
			<span th:text="${used_ingredient.ingredient.name}"></span>
			<a th:href="@{'/admin/removeIngredientFromRecipe/'+ ${used_ingredient.id}}">Cancella</a>
		</li>
	</ul>
	<div>
		Attori che si possono aggiungere:
		<ul>
			<li th:each="ingredient : ${ingredientsToAdd}">
				<span th:text="${ingredient.name}"></span>
				<a th:href="@{'/admin/formNewIngredient/'+ ${ingredient.id}+'/'+${recipe.id}}">Aggiungi</a>
			</li>
		</ul>
	<div>
	<div>
		<a th:href="@{'/admin/formUpdateRecipe/'+ ${recipe.id}}"><button type="button">Fine</button></a>
	</div>
</body>

</html>