<!DOCTYPE html>
<html>

<head>
	<title th:text="${recipe.nome}">Modifica Pizza Margherita</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Dettagli Film</h1>
	<div th:if="${recipe}">
		<span th:text="${recipe.nome}">Up!</span>
		<span><img width="5%" th:src=${recipe.pathImage} /></span>
	</div>
	<div>
			<a th:href="@{'/chef/updateRecipe' + '/' + ${recipe.id}}">Modifica ricetta</a>
	</div>
	<div>
			<a th:href="@{'/chef/removeRecipe' + '/' + ${recipe.id}}">Elimina ricetta</a>
	</div>
	<div>
		<br>
		<div th:if="${recipe.chef}">
		<span>Chef: </span>
		<span th:text="${recipe.chef.name} "> Pietro</span>
		<span th:text="${recipe.chef.surname} "> Barone</span>
	</div>
		<div th:unless="${recipe.chef}">Nessuno chef inserito</div>
</div>
<br>
<br>


	<div th:if="${recipe.usedIngredients==null || recipe.usedIngredients.isEmpty()}">Non ci sono ingredienti inseriti per questa ricetta</div>

	
	<div th:unless="${recipe.usedIngredients==null || recipe.usedIngredients.isEmpty()}">
			<span>Ingredienti: </span>
				<ul>
		<li th:each="ingredient : ${recipe.usedIngredients}">
			<span th:text="${ingredient.ingredient.name}">Broccoli</span>
			<span th:text="${ingredient.quantity}">10</span>
			<span th:text="${ingredient.measurement}">grammi</span>
		</li>
	</ul>
			
		</div>
		<a th:href="@{'/chef/updateIngredient/' + ${recipe.id}}">
				<button type="button">Modifica</button>
			</a>
		<div th:unless="${recipe}">Ricetta non esistente</div>
				
</body>

</html>