<!DOCTYPE html>
<html> <head>
    <title th:text="${recipe.nome}">Risotto alla milanese</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
     <script src="/js/3.7.1_jquery.min.js"></script>
    <script src="/js/thumbnail.js"></script>
  </head>
  <body>
	  <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <h1>Modifica ricetta</h1>
    <form th:action="@{'/chef/recipe/'+ ${recipeId}}" method="POST" th:object="${recipe}" enctype="multipart/form-data">
		 <div>
				<span th:if="${param.error != null}">Dati inseriti non accettabili</span>
			</div>
	<div>
        Nome: <span><input required type="text" th:field="${recipe.nome}"/></span>

      </div>
 
       
       <div>
        Percorso immagine main: <input type="file" name="primaryImage" id="primaryImage" accept="image/png, image/jpeg"/>
         <div>
		  <img id="thumbnail" alt="logoPreview"/>
	  </div>

      </div>
      
      <div>Percorso immagine extra1: <input type="file" name="extraImage" accept="image/png, image/jpeg"/>
      	   <div>
		  <img id="thumbnail0" alt="logoPreview"/>
	  </div>
      </div>
      <div>Percorso immagine extra2: <input type="file" name="extraImage" accept="image/png, image/jpeg"/>
         <div>
		  <img id="thumbnail1" alt="logoPreview"/>
	  </div>
      </div>
      <div>Percorso immagine extra3: <input type="file" name="extraImage" accept="image/png, image/jpeg"/>
         <div>
		  <img id="thumbnail2" alt="logoPreview"/>
	  </div>
      </div>
      <br>
      <div>
        <span><button type="submit">Modifica</button></span>
      </div>
    </form>
  </body>
</html>
