<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood
	</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><img src="/images/logo-siw.png" width="50%" /></div>
	<h1>Consulta l'archivio(chef)</h1>
	<div>
		<a href="/recipe">Elenco Ricette</a>
	</div>
	<div>
		<a href="/allChef">Elenco Chef</a>
	</div>
	<div>
		<a href="/ingredient">Elenco Ingredienti</a>
	</div>
	<br>
	<h1>Operazioni</h1>
	<div>
		<a href="/chef/formNewRecipe">Aggiungi ricetta</a>
	</div>
	<div>
		<a href="/searchChef">Cerca chef</a>
	</div>
	<div>
		<a href="/searchRecipe">Cerca Ricetta</a>
	</div>
	<div>
		<a href="/searchIngredient">Cerca ingrediente</a>
	</div>
	
	<div>
		<a href="chef/manageRecipe">Gestisci ricette</a>
	</div>
</body>

</html>