<!DOCTYPE html>
<html>

<head>
	<title>Gestisci ricette</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Gestisci ricette</h1>
	<div th:if="${recipes==null || recipes.isEmpty()}">Non ci sono ricette nel sistema</div>
	<div>
		<div th:each="recipe : ${recipes}">
			<div>
			<span th:if="${recipe.chef!=null}" th:text="${recipe.nome} + ' (' + ${recipe.chef.name} + ')'">Tagliatelle(Barbieri)</span>
			<span th:unless="${recipe.chef!=null}" th:text="${recipe.nome} + ' (Chef non presente)'">Tagliatelle(Chef non presente)</span>
			<br>
			<a th:href="@{'/chef/formUpdateRecipe' + '/' + ${recipe.id}}">Aggiorna</a>
			</div>
			<br>
		</div>
	</div>
</body>

</html>