<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Not Found</title>
	<link rel="stylesheet" href="/css/errorStyle.css">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
	<div class="container">
		<h1>404</h1>
		<h2>OOPS! PAGINA NON TROVATA</h2>
		<p>Ci scusiamo per il disagio, la risorsa che stai cercando non esiste. </p>
		<br>
		<div class="buttons">
			<a href="/">RITORNA ALLA HOME</a>
		</div>
	</div>
</body>

</html>