<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Errror</title>
    <link rel="stylesheet" href="/css/errorStyle.css">
</head>
<body>
    <div class="container">
        <h1>500</h1>
        <h2>OOPS! PROBLEMA INTERNO</h2>
        <p>Ci scusiamo per il disagio, il sistema ha avuto un problema interno. </p>
        <br>
        <div class="buttons">
            <a href="/">RITORNA ALLA HOME</a>
        </div>
    </div>
</body>
</html>
