<!DOCTYPE html>
<html>
 <head>
  <title>Cerca chef</title>
  <link rel="stylesheet" href="/css/stylesheet.css" />
 </head>

 <body>
	 <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
  <div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
  <h1>Cerca chef per nome o cognome</h1>
  <form th:action="@{/searchChef}" method="post">
   <div>Nome o cognome: <input required type="text" th:value="${nameSurname}" name="nameSurname" />
   </div>
      <br>

        <span><button type="submit">Cerca</button></span>
  </form>
 </body>

</html>