<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Registrazione
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div>
		<a href="/"><img src="/images/logo-siw.png" width="50%" /></a>
	</div>
	<h1>Registrazione nuovo utente</h1>
	
	<form th:action="@{/register}" method="POST" th:object="${credentials}">
		      <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
      </div>
		<div>
			<label>Username</label>
			<span>
				<input type="text" required placeholder="username"  th:field="${credentials.username}" />
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
			</span>
		</div>
		<div>
			<label>Password</label>
			<span><input type="password" required placeholder="password"  th:field="${credentials.password}" />
			<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			</span>
		</div>
		<span th:object="${user}">
		<div>
			<label>Nome</label>
			<span><input type="text" required placeholder="name"  th:field="${user.name}" /></span>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>
		<div>
			<label>Cognome</label>
			<span><input type="text" required placeholder="surname"  th:field="${user.surname}" /></span>
			<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
		</div>
		<div>
			<label>Email</label>
			<span><input type="email" placeholder="email" th:field="${user.email}" /></span>
		    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			
		</div>
		</span>
		<div>
			<button type="submit">Registra</button>
		</div>
	</form>
</body>

</html>