<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Film che soddisfano i requisiti</h1>
	<div th:if="${ingredients.isEmpty()}">Non ci sono film che soddisfano i requisiti</div>
	<ul th:if="${!ingredients.isEmpty()}">
		<li th:each="ingredient : ${ingredients}">
			<a th:href="@{'/ingredient' + '/' + ${ingredient.id}}"
				th:text="${ingredient.name}">Up! (2000)</a>
		</li>
	</ul>
</body>

</html>