<!DOCTYPE html>
<html>

<head>
	<title>Ingredienti trovati</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Ingredienti trovati</h1>
	<div th:if="${ingredients.isEmpty()}">Non ci sono ingredienti con tale nome</div>
	<div th:if="${!ingredients.isEmpty()}">
		<span th:each="ingredient : ${ingredients}">
			<a th:href="@{'/ingredient' + '/' + ${ingredient.id}}" th:text="${ingredient.name}">Broccoli</a>
		</span>
	</div>
</body>

</html>