<!DOCTYPE html>
<html>

<head>
	<title>Chef trovati</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Chef trovati</h1>
	<div th:if="${chef.isEmpty()}">Non ci sono chef con tale nome o cognome</div>
	<div th:if="${!chef.isEmpty()}">
		<span th:each="c : ${chef}">
				<a th:href="@{'/chef' + '/' + ${c.id}}" th:text="${c.name} +' '+ ${c.surname}+' (' +${c.dateBirth.getDayOfMonth()}+'/'+ ${c.dateBirth.getMonthValue()}+'/'+${c.dateBirth.getYear()}  + ')'">Pietro Barone (2/10/2002)</a>
				<span th:unless="${c.dateBirth}">
				<a th:href="@{'/chef' + '/' + ${c.id}}" th:text="${c.name} +' '+ ${c.surname}+ ' (non presente)'">Pietro Barone (2/10/2002)</a>
			</span>
		</span>
	</div>
</body>

</html>