<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.getUsername()}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Dettagli Film</h1>
	<div th:if="${ingredient}">
		<span th:text="${ingredient.name}">Up!</span>
		<span><img width="5%" th:src=${ingredient.pathImage} /></span>
	</div>
	<div th:unless="${ingredient}">Non esiste</div>
</body>

</html>