<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${recipe.nome}">SiwFood</title>
	<link rel="stylesheet" href="/css/detailsStyle.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
	<header>
		<!-- navbar -->
		<nav>
			<ul class='nav-bar'>
				<!-- logo -->
				<li class='logo'><a href=''><img src='/images/logowhite.png' alt='logo' /></a></li>
				<!-- menu navbar -->
				<span class="navmenu">
					<!-- barraRicerca -->
					<div class="search-container">
						<li>
							<form th:action="@{/searchRecipe}" method="post" class="barra-ricerca">
								<input required type="text" placeholder="Ricetta" th:value="${nome}" name="nome"
									autocomplete="off" />
								<button type="submit"><i class='bx bx-search'></i></button>
							</form>
						</li>
					</div>
					<!-- link login/scritta con nome -->
					<li th:unless="${userDetails}" id="login-link"><a href="/login">Login</a></li>
					<li th:if="${userDetails}" id="login-link">
						<span th:text="'Bentornato ' + ${userDetails.getUsername()} + ', '"></span>
						<a href="/logout" th:text="'logout'">logout</a>
					</li>
				</span>
				<!-- icona login/logout -->
				<label th:unless="${userDetails}" class="login-icon"><a href="/login"><i
							class='bx bx-log-in-circle'></i></a></label>
				<label th:if="${userDetails}" class="login-icon"><a href="/logout"><i
							class='bx bx-log-out-circle'></i></a></label>
			</ul>
		</nav>
	</header>
	<div class="container">
		<!-- sidebar -->
		<aside class="sidebar">
			<h2>Mappa del sito</h2>
			<br>

			<!-- menu ingredieni -->
			<div class="menu">
				<input type="checkbox" id="menu1" class="menu-toggle">
				<label for="menu1">Operazioni sugli ingredienti</label>
				<ul class="menu-content">
					<li><a href="/ingredient">Visualizza ingredienti</a></li>
					<li th:if="${isAdmin}"><a href="/admin/formNewIngredient">Aggiungi ingrediente</a></li>
					<li th:if="${isAdmin}"><a href="/admin/manageIngredient">Modifica ingrediente</a></li>
					<li><a href="/searchIngredient">Cerca ingrediente</a></li>
				</ul>
			</div>

			<!-- menu chef -->
			<div class="menu">
				<input type="checkbox" id="menu2" class="menu-toggle">
				<label for="menu2">Operazioni sugli chef</label>
				<ul class="menu-content">
					<li><a href="/allChef">Visualizza chef</a></li>
					<li th:if="${isAdmin}"><a href="/admin/formNewChef">Aggiungi chef</a></li>
					<li th:if="${isAdmin}"><a href="/admin/manageChef">Modifica chef</a></li>
					<li><a href="/searchChef">Cerca chef</a></li>
				</ul>
			</div>

			<!-- menu ricette -->
			<div class="menu">
				<input type="checkbox" id="menu3" class="menu-toggle">
				<label for="menu3">Operazioni sulle ricette</label>
				<ul class="menu-content">
					<li><a href="/recipe">Visualizza ricette</a></li>
					<li th:if="${isAuthenticated}"><a href="/chef/formNewRecipe">Aggiungi ricetta</a></li>
					<li th:if="${isAuthenticated}"><a href="/chef/manageRecipe">Modifica ricetta</a></li>
					<li><a href="/searchRecipe">Cerca ricetta</a></li>
				</ul>
			</div>
		</aside>



		<!-- contenuto main -->
		<div class="main">
			<div class="main-content">

				<h2 class="title" th:text="${recipe.nome}">Pizza Margherita</h2> <!-- nome ricetta -->

				<!-- chef ricetta -->
				<div th:if="${recipe.chef}">
					<span>Chef: </span>
					<span th:text="${recipe.chef.name} "> Bruno</span>
					<span th:text="${recipe.chef.surname} "> Barbieri</span>
				</div>
				<div th:unless="${recipe.chef}">Chef: non disponibile</div>

				<!-- descrizione ricetta -->
				<p th:if="${recipe.description!=null}" th:text="${recipe.description}"></p>
				<p th:unless="${recipe.description!=null}">Descrizione non disponibile</p>

				<!-- container con immagine e affianco testo -->
				<div class="imageAsideText">

					<!-- immagineMain ricetta -->
					<div class="mainImage"> <img th:src="@{${recipe.MainImagePath}}" alt="Descrizione immagine"> </div>

					<!-- ingredienti della ricetta -->
					<div class="asideText">
						<div th:if="${recipe.usedIngredients==null || recipe.usedIngredients.isEmpty()}">Non ci sono
							ingredienti registrati</div>
						<div th:unless="${recipe.usedIngredients==null || recipe.usedIngredients.isEmpty()}">
							<span>Ingredienti: </span>
							<ul>
								<li th:each="usedIngredients : ${recipe.usedIngredients}">
									<span th:if="${usedIngredients.quantity!=0}"
										th:text="${usedIngredients.ingredient.name}+' ' + ${usedIngredients.quantity}+' ' + ${usedIngredients.measurement}">10</span>
									<span th:unless="${usedIngredients.quantity!=0}"
										th:text="${usedIngredients.ingredient.name} +' ' + ${usedIngredients.measurement}">10</span>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<!-- procediemnto -->
				<p th:if="${recipe.splittedProcedure!=null}">
					<span> Procedimento:</span>
				<ol>
					<li th:each="d : ${recipe.splittedProcedure}" th:text="${d}"></li>
				</ol>
				</p>
				<p th:unless="${recipe.splittedProcedure!=null}">
					<span>Procedimento non presente</span>
				</p>

				<!-- container con immagini equidistanti -->
				<div class="image-equalyspaced">
					<img th:if="${recipe.ExtraImagePath1!=null}" th:src="@{${recipe.ExtraImagePath1}}">
					<img th:if="${recipe.ExtraImagePath2!=null}" th:src="@{${recipe.ExtraImagePath2}}">
					<img th:if="${recipe.ExtraImagePath3!=null}" th:src="@{${recipe.ExtraImagePath3}}">
				</div>

			</div>
		</div>
	</div>
</body>

</html>